nav {
    width: 100%;
    display: block;
    background-color: #FF7851;
    height: 100%;
    padding-top: 1px;
    box-shadow: 0px 1px 2px #EA3703;
    margin-bottom: 20px;
}

body{
    font-family: Arial;
    background-color: #E6E6E6;
    margin: 0;
    padding: 0;
}

h1 {
    width: 100%;
    text-align: center;
}

img {
    max-width: 256px;
    max-height: 200px;
}

#content {
    margin: 0 auto;
    max-width: 768px;
}

#chat {
    padding-bottom: 100px;
}

.message {
    clear: both;
    padding: 8px;
}

.system-message {
    color: #8E8E8E;
    display: block;
    text-align: center;
}

.message-text {
    /*     float: left; */
    clear: left;
    float: left;
    max-width: 256px;
    word-wrap: break-word;
    background-color: #4495C0;
    color: white;
    padding: 8px;
    border-radius: 0px 8px 8px 8px;
    box-shadow: 1px 1px 4px #CECBCB;
}

.message-user {
    /*     float: left; */
    /*     width:100%; */
    clear: left;
    float: left;
    display: block;
    font-weight: bold;
}

/*.message-user::after {
    float: left;
    content: ":";
}*/

.selfmessage .message-user {
    /*     float: left; */
    /*     width:100%; */
    font-weight: bold;
    clear: right;
    float: right;
    display: block;
}

.selfmessage .message-text {
    clear: right;
    float: right;
    color: black;
    background-color: #D0F74F;
    padding: 8px;
    border-radius: 8px 0px 8px 8px;
}

form {
    box-shadow: 0px 0px 4px #575656;
    position: fixed;
    bottom: 16px;
/*     right: calc( 50% - 384px ); */
    width: 100%;
    max-width: 768px;
    margin: 0px;
/*     padding-top:8px; */
    background-color: white;
    border-radius: 8px;
}


input[type=text]{

    float: left;
    width: calc( 100% - 48px );
    height: 32px;
    background-color:#fff;
    border: none;
    /*box-shadow: 0px 0px 0px 0px #b4b4b4;*/
    padding: 0px 8px;
    border-radius: 8px 0px 0px 8px;
}

input[type=submit] {
    /*margin-top: 20px;*/
    /*     padding: 30px; */
    background-color: #D0F74F;
    font-weight: bold;
    color: black;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 0px 8px 8px 0px;
}

input[type=submit]:hover {
    background-color: #ADE103;
}

:focus {
    outline-color: transparent;
    outline-style: none;
}
