* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
}


nav {
    width: 100%;
    top: 0;
    left: 0;
    height: 48px;
}

html, body{
    overflow: hidden;
    position:relative;
    font-family: Arial;
    background-color: #E6E6E6;
    margin: 0;
    height: 100%;
}

header {
    width: 100%;
    position: fixed;
    left: 0;
    background: #FFD051;
    padding: 10px 10px 10px 50px;
    font-size: 30px;
    line-height: 30px;
    box-shadow: 0 0px 4px #575656;
    z-index: 0;
}

img {
    max-width: 456px;
    /*max-height: 200px;*/
}

#drawer-toggle {
    position: absolute;
    opacity: 0;
}

#drawer-toggle-label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    left: 0px;
    height: 50px;
    width: 50px;
    display: block;
    position: fixed;
    background: #FFD051;
    z-index: 1;
}

#drawer-toggle-label:before {
    content: '';
    display: block;
    position:absolute;
    height: 2px;
    width: 24px;
    background: black;
    left: 13px;
    top: 18px;
    box-shadow: 0 6px 0 black, 0 12px 0 black;
}

#drawer {
    position: fixed;
    top: 0;
    left: -300px;
    height: 100%;
    width: 300px;
    background: #FFD051;
    overflow-x: hidden;
    overflow-y: auto;
    /*padding: 20px;*/
    z-index: 1;
    -webkit-overflow-scrolling: touch;
}

/*#drawer-toggle:checked ~ #drawer-toggle-label {
  height: 100%;
  width: calc(100% - 300px);
  background: rgba(255, 255, 255, 0);
  opacity: 50%;
}*/

#drawer-toggle-label:hover {
    background: #EAAC03;
}

#drawer-toggle:focus ~ #drawer-toggle-label,
#drawer-toggle:focus ~ header {
  left: 300px;
}

#drawer-toggle:focus ~ #drawer {
  left: 0px;
  box-shadow: 0 1px 16px black;
}

#drawer-toggle:focus ~ #content {
  margin-left: auto;
}

.nav-item {
  /* non-critical appearance styles */
  width: 300px;
  /*border-top: 1px solid black;*/
  /*border-bottom: 1px solid rgba(0,0,0,.3);*/
}

.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 1em;
  color: black;
  font-size: 1.2em;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
}

.nav-item a:hover {
  color: white;
  background: #EAAC03;
}

#cambioNombre {
    border-bottom: 1px solid rgba(0,0,0,.3);
}

#content {
    height: calc( 100% - 50px );
    /*height: 100%;*/
    margin: 0 auto;
    /*margin-left: 0px;*/
    margin-top: 50px;
    max-width: 768px;
    /*width: 100%;*/
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 20px;
    z-index: -1;
}

#chat {
    height: calc( 100% - 32px );
    /*overflow-y: auto;*/
    position: relative;
    padding: 0 7px;
    /*margin: 8px 0;*/
}

.message {
    clear: both;
    padding: 8px;
}

.system-message {
    color: #8E8E8E;
    display: block;
    text-align: center;
}

.message-text {
    /*     float: left; */
    clear: left;
    float: left;
    max-width: 500px;
    word-wrap: break-word;
    background-color: #4495C0;
    color: white;
    padding: 8px;
    border-radius: 0px 8px 8px 8px;
    box-shadow: 1px 1px 4px #CECBCB;
}

.message-user {
    /*     float: left; */
    /*     width:100%; */
    clear: left;
    float: left;
    display: block;
    font-weight: bold;
}

/*.message-user::after {
    float: left;
    content: ":";
}*/

.selfmessage .message-user {
    /*     float: left; */
    /*     width:100%; */
    font-weight: bold;
    clear: right;
    float: right;
    display: block;
}

.selfmessage .message-text {
    clear: right;
    float: right;
    color: black;
    background-color: #D0F74F;
    padding: 8px;
    border-radius: 8px 0px 8px 8px;
}

form {
    box-shadow: 0px 0px 4px #575656;
    position: relative;
/*     right: calc( 50% - 384px ); */
    width: 100%;
    max-width: 768px;
    margin: 8px 0px 0px 0px;
/*     padding-top:8px; */
    background-color: white;
    border-radius: 8px;
}


input[type=text]{
    float: left;
    width: calc( 100% - 32px );
    height: 32px;
    background-color:#fff;
    border: none;
    /*box-shadow: 0px 0px 0px 0px #b4b4b4;*/
    padding: 0px 8px;
    border-radius: 8px 0px 0px 8px;
}

input[type=submit] {
    /*margin-top: 20px;*/
    /*     padding: 30px; */
    background-color: #D0F74F;
    font-weight: bold;
    color: black;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 0px 8px 8px 0px;
}

input[type=submit]:hover {
    background-color: #ADE103;
}

:focus {
    outline-color: transparent;
    outline-style: none;
}

.drawer-nav {
    height: 100%;
}

footer {
    margin-top: -1.5em;
    margin-left: 10px;
    color: #8E8E8E;
}

footer a {
    text-decoration: none;
    color: #4495C0;
}

/* AutoComplete styles for Emoji One */

.dropdown-menu {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    list-style: none;
    padding: .3em 0 0;
    margin: 0;
    border: 1px solid #6E6E6E;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    font-size: inherit;
    letter-spacing: .025em;
    box-shadow: 3px 3px 3px rgba(0,0,0,.2);
}
.dropdown-menu a:hover {
    cursor: pointer;
}
.dropdown-menu li {
    letter-spacing: 0;
    display: block;
    float: none;
    margin: 0;
    padding: 0;
    border:none;
}
.dropdown-menu li:before {
    display: none;
}
.dropdown-menu .textcomplete-footer {
    margin-top: .3em;
    background: #e6e6e6;
}
.dropdown-menu .textcomplete-footer a {
    color: #999999;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .05em;
    line-height: 2.1818em;
    padding-left: 1.8181em;
    font-size: .84em;
}
.dropdown-menu .textcomplete-footer .arrow {
    margin-left: .8em;
    font-size: 1.3em;
}
.dropdown-menu li .emojione {
    vertical-align: middle;
    font-size: 1.23em;
    width: 1em;
    height: 1em;
    top: -1px;
    margin: 0 .3em 0 0;
}
.dropdown-menu li a {
    display: block;
    height: 100%;
    line-height: 1.8em;
    padding: 0 1.54em 0 .615em;
    color: #4f4f4f;
}
.dropdown-menu .active,
.dropdown-menu li:hover {
    background: #6E6E6E;
    color: white;
}
.dropdown-menu .active a,
.dropdown-menu li:hover a {
    color: inherit;
}
