body{
    font-family: Arial;
    background-color: #D6D6D6;
    margin: 0;
    padding: 0;
}

h1 {
    width: 100%;
    text-align: center;
}

img {
    max-width: 256px;
    max-height: 200px;
}

#content {
    margin: 0 auto;
    max-width: 768px;
}

#chat {
    padding-bottom: 100px;
}

.message {
    clear: both;
    padding: 8px;
}

.message-text {
    /*     float: left; */
    clear: left;
    float: left;
    max-width: 256px;
    word-wrap: break-word;
    background-color: #46ABC4;
    color: white;
    padding: 8px;
    border-radius: 0px 8px 8px 8px;
}

.message-user {
    /*     float: left; */
    /*     width:100%; */
    clear: left;
    float: left;
    display: block;
    font-weight: bold;
}

/*.message-user::after {
    float: left;
    content: ":";
}*/

.selfmessage .message-user {
    /*     float: left; */
    /*     width:100%; */
    font-weight: bold;
    clear: right;
    float: right;
    display: block;
}

.selfmessage .message-text {
    clear: right;
    float: right;
    background-color: #5BD14E;
    padding: 8px;
    border-radius: 8px 0px 8px 8px;
}

form {
    box-shadow: 0px 0px 8px #000;
    position: fixed;
    bottom: 16px;
/*     right: calc( 50% - 384px ); */
    width: 100%;
    max-width: 768px;
    margin: 0px;
/*     padding-top:8px; */
background-color: #fff;
border-radius: 8px;
}


input[type=text]{

    float: left;
    width: calc( 100% - 48px );
    height: 32px;
    background-color:#fff;
    border: none;
    /*     box-shadow: 0px 0px 8px #000; */
    padding: 0px 8px;
    border-radius: 8px 0px 0px 8px;
}

input[type=submit] {
    /*margin-top: 20px;*/
    /*     padding: 30px; */
    background-color: #5BD14E;
    font-weight: bold;
    color: white;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 0px 8px 8px 0px;
}
