html {
    height: 100%
}

nav {
    width: 100%;
    top: 0;
    left: 0;
    height: 48px;
    background-color: #FF7851;
    padding-top: 16px;
    box-shadow: 0px 1px 2px #EA3703;
}

body{
    position:relative;
    font-family: Arial;
    background-color: #E6E6E6;
    margin: 0;
    height: 100%;
}

h1 {
    width: 100%;
    text-align: center;
    margin: 0;
}

img {
    max-width: 256px;
    max-height: 200px;
}

#content {
    height: calc( 100% - 96px );
    /*height: 100%;*/
    margin: 0 auto;
    max-width: 768px;
}

#chat {
    height: calc( 100% - 32px );
    /*overflow-y: auto;*/
    position: relative;
    padding: 0 7px;
    margin: 8px 0;
}

.message {
    clear: both;
    padding: 8px;
}

.system-message {
    color: #8E8E8E;
    display: block;
    text-align: center;
}

.message-text {
    /*     float: left; */
    clear: left;
    float: left;
    max-width: 500px;
    word-wrap: break-word;
    background-color: #4495C0;
    color: white;
    padding: 8px;
    border-radius: 0px 8px 8px 8px;
    box-shadow: 1px 1px 4px #CECBCB;
}

.message-user {
    /*     float: left; */
    /*     width:100%; */
    clear: left;
    float: left;
    display: block;
    font-weight: bold;
}

/*.message-user::after {
    float: left;
    content: ":";
}*/

.selfmessage .message-user {
    /*     float: left; */
    /*     width:100%; */
    font-weight: bold;
    clear: right;
    float: right;
    display: block;
}

.selfmessage .message-text {
    clear: right;
    float: right;
    color: black;
    background-color: #D0F74F;
    padding: 8px;
    border-radius: 8px 0px 8px 8px;
}

form {
    box-shadow: 0px 0px 4px #575656;
    bottom: 16px;
/*     right: calc( 50% - 384px ); */
    width: 100%;
    max-width: 768px;
    margin: 0px;
/*     padding-top:8px; */
    background-color: white;
    border-radius: 8px;
}


input[type=text]{
    float: left;
    width: calc( 100% - 48px );
    height: 32px;
    background-color:#fff;
    border: none;
    /*box-shadow: 0px 0px 0px 0px #b4b4b4;*/
    padding: 0px 8px;
    border-radius: 8px 0px 0px 8px;
}

input[type=submit] {
    /*margin-top: 20px;*/
    /*     padding: 30px; */
    background-color: #D0F74F;
    font-weight: bold;
    color: black;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 0px 8px 8px 0px;
}

input[type=submit]:hover {
    background-color: #ADE103;
}

:focus {
    outline-color: transparent;
    outline-style: none;
}

/* AutoComplete styles for Emoji One */

.dropdown-menu {
  list-style: none;
  padding: .3em 0 0;
  margin: 0;
  border: 1px solid #6E6E6E;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  font-size: inherit;
  letter-spacing: .025em;
  box-shadow: 3px 3px 3px rgba(0,0,0,.2);
}
.dropdown-menu a:hover {
  cursor: pointer;
}
.dropdown-menu li {
  letter-spacing: 0;
  display: block;
  float: none;
  margin: 0;
  padding: 0;
  border:none;
}
.dropdown-menu li:before {
  display: none;
}
.dropdown-menu .textcomplete-footer {
  margin-top: .3em;
  background: #e6e6e6;
}
.dropdown-menu .textcomplete-footer a {
  color: #999999;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .05em;
  line-height: 2.1818em;
  padding-left: 1.8181em;
  font-size: .84em;
}
.dropdown-menu .textcomplete-footer .arrow {
  margin-left: .8em;
  font-size: 1.3em;
}
.dropdown-menu li .emojione {
  vertical-align: middle;
  font-size: 1.23em;
  width: 1em;
  height: 1em;
  top: -1px;
  margin: 0 .3em 0 0;
}
.dropdown-menu li a {
  display: block;
  height: 100%;
  line-height: 1.8em;
  padding: 0 1.54em 0 .615em;
  color: #4f4f4f;
}
.dropdown-menu .active,
.dropdown-menu li:hover {
  background: #6E6E6E;
  color: white;
}
.dropdown-menu .active a,
.dropdown-menu li:hover a {
  color: inherit;
}
